.form-select{
    width: 10rem;
    margin: 1rem;
    display: inline-block;
}

h1{
    color: rgb(6, 156, 106);
    text-align: center;
}

.tax1{
   margin-right:  1rem;
}

.address label{
    margin-right: 2rem;
}
.images input{
    margin: 1rem;
}
.btn{
    margin: 2rem 0;
}

h3,h4{
    color:rgb(1, 190, 20);
}
.hide{
    display: none;
}
.images{
    padding: 1rem;
    background-color: rgb(223, 245, 255);
    border-radius: 0.5rem;
}
.map{
    width: 81rem;
    height: 40rem ;
    background-color: aquamarine;
}